<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %><span class="divider">/</span></li>
  <li class="active"><%= link_to "Referees", referees_path %></li>
</ul>


<h1>Listing referees</h1>
<blockquote>
  So every user is going to have a certain max number of refs they can short list.  Those are the refs they can send emails to.
  So pick about 50 refs, probably close ones to you and you can send emails to them.  Also if someone is a user and they match a
  ref email, maybe we can automatically assign them as the owner of that ref?  So they can make changes, opt-out or whatever.
</blockquote>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Center Rating</th>
    <th>Line Rating</th>
    <th></th>
    <th></th>
  </tr>

<% @referees.each do |referee| %>
  <tr>
    <td><%= link_to referee.name, referee %></td>
    <td><%= referee.city %> <%= referee.state %> <%= referee.zip %></td>
    <td><%= referee.crating %></td>
    <td><%= referee.lrating %></td>
    <td><%= link_to 'Edit', edit_referee_path(referee) %></td>
    <td><%= link_to 'Destroy', referee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Referee', new_referee_path %>
