<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %><span class="divider">/</span></li>
  <li><%= link_to "Referees", referees_path %><span class="divider">/</span></li>
  <li class="active"><%= link_to @referee.name, @referee %></li>
</ul>

<div class="row-fluid">
<div class="span4">

<h3>Contact Information</h3>
<% if @emails.any? %>
  <%= render '/shared/emails' %>
<% end %>
<% if @phones.any? %>
  <%= render '/shared/phones' %>
<% end %>

<hr />

<%= form_for [@referee, Email.new] do |email| %>
  <%= email.text_field :address, :placeholder => "Email" %>
  <%= email.submit %>
<% end %>

<%= form_for [@referee, Phone.new] do |phone | %>
  <%= phone.text_field :number, :placeholder => "Phone Number" %>
  <%= phone.submit %>
<% end %>

<%= link_to 'Edit', edit_referee_path(@referee) %> |
<%= link_to 'Back', referees_path %>
</div> <!-- span -->
<div class="span3 well">
  <h3><%= link_to @referee.name, @referee %></h3>
  <h4><%= @referee.location %></h4>
  <hr />
  <table>
    <tr>
      <th>Center Rating</th><td><%= @referee.crating %></td>
    </tr>
    <tr>
      <th>Line Rating</th><td><%= @referee.lrating %></td>
    </tr>
  </table>
</div> <!-- span -->
</div> <!-- row -->
