<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar">
      <span class="icon-bar"></span>
      <!-- span class="icon-bar"></span -->
      <!-- span class="icon-bar"></span -->
      </a>
      <%= link_to "Soccref.com", root_path , :class => "brand" %>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li><%= link_to "About", '/pages/about' %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Contact", '#' %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "FAQ", '#' %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Referees", referees_path %></li>
        </ul>
        <ul class="nav pull-right">
          <form class="navbar-search pull-left">
            <input type="text" class="search-query" placeholder="Search">
          </form>
          <% if user_signed_in? %>
            <li><%= link_to current_user.email, current_user %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to raw("Have an account? <b>Sign in</b>"), new_user_session_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

